<h2>Catalogo de productos</h2>
<button class="btn btn-info btn-sm" (click)="openCart()">Show cart ({{items.length}})</button>
<div class="row">
    <div [className]="showCart? 'col-9' : 'col'">
        <catalog [products]="products" (productsEventEmitter)="onAddCart($event)" />
    </div>
    @if(showCart){
    <div class="col-3">
        @if(items.length > 0){
        <button class="btn btn-secondary float-end btn-sm" (click)="openCart()">X</button>
        <cart [items]="items" [total]="total" (idProductProductEmitter)="onDeleteCart($event)"></cart>
        } @else {
        <div class="alert alert-warning">No hay elementos en el carro!</div>
        }
    </div>
    }
</div>